################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin/Debug/net8.0
**/obj
**/PinewoodApp.CustomerDMS/.vs/PinewoodApp.CustomerDMS/FileContentIndex
**/PinewoodApp.CustomerAPI/obj/Debug/net8.0
