@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex flex-column">
    <div class="d-flex flex-column w-100 justify-items-center align-items-center">
        <span class="d-flex flex-row align-content-center justify-content-center w-100 border border-2 rounded rounded-2">Welcome to Pinwood Customer Portal</span>
         <a class="nav-link btn btn-outline-primary m-3" asp-area="Customer" asp-controller="Home" asp-action="Index">Please click here to access customer portal</a>
    </div>
</div>
